<div class="paginated-list-header">   
    <span>Found {{total}} {{foundWhere}}</span>
    {{#if (or next prev)}}
        &nbsp;
        &nbsp;
        <span>
            {{#if first}}<button class="btn btn-outline-secondary btn-sm" {{action "update" first.href}}>&lt;&lt;</button>{{/if}}
            {{#if prev}}<button button class="btn btn-outline-secondary btn-sm" {{action "update" prev.href}}>&lt;</button>{{/if}}
            {{firstItemOnPage}} - {{lastItemOnPage}}
            {{#if next}}<button button class="btn btn-outline-secondary btn-sm" {{action "update" next.href}}>&gt;</button>{{/if}}
            {{#if last}}<button button class="btn btn-outline-secondary btn-sm" {{action "update" last.href}}>&gt;&gt;</button>{{/if}}
        </span>
    {{/if}}    
</div>
<div class="paginated-list-content">
    {{yield items}}    
</div>
